[submodule "fprime"]
	path = lib/fprime
	url = https://github.com/nasa/fprime.git
[submodule "lib/fprime-vxworks"]
	path = lib/fprime-vxworks
	url = https://github.com/fprime-community/fprime-vxworks
